.ipynb_checkpoints
__pycache__
outputs
preprocess/Diagnosis
preprocess/Readmission
preprocess/Mortality
preprocess/IMDB
preprocess/WhatInNote
preprocess/HipSurgery
preprocess/KneeSurgery
data
mimic_github_repos
Text-encoding-EHR
.vscode
latex_evals/
